html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: skyblue;
}

.btn {
  padding: 1rem 2rem;
}
.btn a {
  color: rgb(16, 11, 11);
  text-decoration: none;
  font-size: 1.2rem;
}
.btn-primary {
  background-color: rgb(227, 240, 45);
}
.btn-secondary {
  background-color: rgb(66, 246, 57);
}

.transformation {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  text-transform: uppercase;
  color: white;
}
.transformation:hover {
  color: coral;
}

.trans .btn {
  margin: 0 10rem;
}

.heading2D {
  text-align: left;
  margin: 2rem;
  font-size: 2rem;
}

.spin2 {
  cursor: pointer;
  transform-style: preserve-3d;
}

.spin2:hover {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

@-webkit-keyframes spin2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.cube2 {
  position: relative;
  width: 95px;
  margin: 10rem;
}

.side2 {
  height: 95px;
  line-height: 95px;
  position: absolute;
  text-align: center;
  width: 95px;
}

.top2 {
  background: #f18532;
  transform: rotate(-45deg) skew(15deg, 15deg);
}

.left2 {
  background: #f1944d;
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}

.right2 {
  background: #f36b04;
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}

.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}

.spin:hover {
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.cube-container {
  height: 200px;
  perspective: 300;
  position: relative;
  width: 200px;
  margin: 10rem;
}

.cube {
  height: 100%;
  position: absolute;
  transform: translateZ(-100px);
  transform-style: preserve-3d;
  width: 100%;
}

.side {
  background: rgba(45, 179, 74, 0.3);
  border: 2px solid #2db34a;
  height: 196px;
  line-height: 196px;
  position: absolute;
  text-align: center;
  width: 196px;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateX(180deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}/*# sourceMappingURL=style.css.map */